.UserMessage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.UserMessage > div{
    background-color: #0a84ff;
    border-radius: 12px;
    padding: 14px 18px; 
    max-width: calc(60% - 36px);
    position: relative;
    color: #ffffff;
    box-shadow: 0 10px 22px rgba(10, 132, 255, 0.22);
}

.UserMessage > div > p{
    font-size: 14px;
}

#user-message-bubbletick{
    position: absolute;
    bottom: 0;
    right: -3px;
    aspect-ratio: 1;
    width: 10px;
    border-radius: 50%;
    background-color: #0a84ff;
    clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
}

@media screen and (max-width: 450px){
    .UserMessage > div{
        padding: 10px 12px; 
        max-width: calc(70% - 36px);
    }

    .UserMessage > div > p{
        font-size: 10px;
    }
}
